.aboutSection {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
  align-items: center;
  background: $linear-background;
}

.titleTextSection {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 32px;
  height: 90vh;
  justify-content: center;
  align-items: center;
}

#text,
#longText {
  color: white;
  font-size: 24px;
}

#longText {
  width: 100%;
  @include respond(laptop) {
    width: 50%;
  }
}

.secSectionWrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.imgTextWrapper {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: space-around;
  width: 100%;
}

#secImg {
  width: 100%;
  object-fit: cover;
  @include respond(laptop) {
    width: 300px;
  }
}
