.aboutSection {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#textWrapper {
    display: flex;
    flex-direction: column;
}

#secImg {
    margin-top: 80px;
    align-self: flex-end;
}

#text , #longText{
    color:white;
}